* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.form-control {
  width: 15rem;
}

body {
  background-color: #000;
  color: #fff;
}

.hero-img img {
  height: 20rem;
  width: 100%;
  min-width: 50%;
}

.main-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 7rem 0px;
}

.main-section .card {
  margin: 1rem;
  height: 25rem;
  width: 15rem;
}

.main-section .card img {
  height: 10rem;
  width: 100%;
  margin: 0px auto;
}

/* js html  */
#search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.Title-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  padding: 10px;
  background-color: #2b2323;
  padding: 3rem;
  /* border: 2px solid #fff; */
}

.Title-section h3 {
  margin: 1rem;
}

#img {
  height: 8rem;
  display: block;
  border-radius: 5px;
}

.paragraph {
  line-height: 2rem;
  margin-top: 5rem;
  word-spacing: 3px;
}

.svelte-1ozytz a {
  /* background-color: red; */
  color: #fff;
}

/* footer section  */
.footer {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: #2b2323;
}

.footer .All-Categories,
.Popular-Categories,
.Customer-Account,
.Help-Support,
.Contact-Us {
  padding: 2%;
  font-weight: 540;
  width: 100%;
  color: #e5f7ee;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

.footer h5 {
  font-size: 1.4rem;
  margin: 20% 0px;
}

.footer li {
  margin-top: 10%;
  text-decoration: none;
}

.footer li a {
  color: #e5f7ee;
}

.footer li a:hover {
  color: #000000;
  background-color: #e5f7ee;
  padding: 2%;
  border-radius: 4px;
}

.Top-Deals ul {
  display: flex;
  width: 100%;
  margin: 5vw 0px;
}

.Top-Deals ul li {
  margin: 10%;
  margin: 2.8vw;
  font-size: 1.1vw;
}

.Top-Deals ul li img {
  margin: 0.8vw;
  height: 9vw;
}

.Top-Deals ul li div span {
  background-color: #e5f7ee;
  color: #03753c;
}

.Top-Deals p {
  position: absolute;
  right: 90vw;
  margin: -20px;
  color: rgb(85, 76, 76);
}

/* media query  */

@media screen and (max-width: 600px) {
  .hero-img img {
    height: 10rem;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .Title-section {
    padding: 1rem;
  }
}
